
@using BugBlazor.Data
@using BugBlazor.Models
@inject BugBlazor.Data.BugDb _db
@inject IJSRuntime _jsRuntime;


<div class="row mb-3">
    <div class="col-6">

        <div class="card">
            <div class="card-header">
                @cardTitle
            </div>
            <div class="card-body">
                <input type="text" placeholder="Name" @bind="@Bug.Name" class="form-control" />
                <br />
                <textarea placeholder="Description" @bind="@Bug.Description" class="form-control"></textarea>
                <br />
                <select class="form-control" @bind="@Bug.State">

                    <option value=@StateType.New>@StateType.New.ToString()</option>
                    <option value=@StateType.Commited>@StateType.Commited.ToString()</option>
                    <option value=@StateType.Done>@StateType.Done.ToString()</option>

                </select>
                <br />

                @if (ShowConfirmEdit)
                {
                    <button class="btn btn-primary" @onclick="ConfirmEditBug">Apply Edit</button>
                    <button class="btn btn-secondary" @onclick="CancelEdit">Cancel</button>
                }
                else
                {
                    <button class="btn btn-primary" @onclick="AddBug">Add</button>
                }
            </div>
        </div>
    </div>
</div>


<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Desc</th>
            <th>State</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Bugs.Count; i++)
        {
            var bug = Bugs[i];
            <tr class=@(bug.State==StateType.Done ? "table-success" : "") style="cursor:pointer">

                <td>@(i + 1)</td>
                <td>@bug.Name</td>
                <td>@bug.Description</td>
                <td>@bug.State</td>
                <td>
                    <a class="btn btn-light" style="cursor:pointer">Details</a>
                    <a class="btn btn-danger" style="cursor:pointer" @onclick="()=>RemoveBug(bug)">Delete</a>
                    <a class="btn btn-primary" style="cursor:pointer" @onclick="()=>EditBug(bug)">Edit</a>
                </td>
            </tr>
        }

    </tbody>
</table>

<div id="mymodal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@code{
    private Bug Bug = new Bug();
    bool ShowConfirmEdit;
    public int counter;
    private string cardTitle;

    public IList<BugBlazor.Models.Bug> Bugs { get; set; }

    protected override void OnInitialized()
    {
        counter = 1;
        ShowConfirmEdit = false;
        Bugs = _db.Bugs.ToList();
        cardTitle = "New Bug";
    }

    private void AddBug()
    {
        if (ShowConfirmEdit)
        {
            return;
        }
        _db.Bugs.Add(Bug);
        _db.SaveChanges();

        Bugs.Add(Bug);
        Bug = new Bug();
        _jsRuntime.InvokeVoidAsync("toastr.success", "New bug added");
    }

    private async Task RemoveBug(Bug bug)
    {


        var confirmed = await _jsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirmed)
        {
            _db.Bugs.Remove(bug);
            _db.SaveChanges();

            Bugs.Remove(bug);
        }

    }

    private void EditBug(Bug bug)
    {
        ShowConfirmEdit = true;
        cardTitle = $"Edit Bug : {bug.Id}";
        Bug = bug;
    }

    private void CancelEdit()
    {
        ShowConfirmEdit = false;
        Bug = new Bug();
        cardTitle = "New Bug";
    }

    private async Task ConfirmEditBug()
    {
        _db.Bugs.Update(Bug);
        await _db.SaveChangesAsync();
        await _jsRuntime.InvokeVoidAsync("toastr.success", "Bug upated");
        Bug = new Bug();
        ShowConfirmEdit = false;
        cardTitle = "New bug";
    }


}